.book .book-summary,
.book .book-body,
pre,
code,
pre tt  {
  font-family: "PingFang SC", "Verdana", "Helvetica Neue", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans-serif";
}

.markdown-section pre>code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

figure {
  margin: 1.5em 0px;
  padding:10px 0;
  text-align: center;
}

figcaption {
  clear: left;
  margin: 0.75em 0px;
  text-align: center;
  font-style: italic;
  line-height: 1.5em;
}

.divider-content-summary {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  display: table;
  cursor: col-resize;
  color: #ccc;
  -webkit-transition: color 350ms ease;
  -moz-transition: color 350ms ease;
  -o-transition: color 350ms ease;
  transition: color 350ms ease
}

.divider-content-summary:hover {
  color: #444;
}

.divider-content-summary__icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.spoiler {
	background-color: #2D3143;
	color: #2D3143;
}

.spoiler.hover {
	background-color: white;
}


.book.color-theme-2 .panel {
  background: #1A1A1A;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
}

.book.color-theme-2 .panel-heading {
  border-width: 0;
}

.book.color-theme-2 .panel-body {
  background: #1A1A1A;
}

.book.color-theme-2 a.section {
  border-color: #373b4e !important;
}

.atTitle {
  display: flex;
}

.page-footer {
  margin-top: 2em;
  border-top: 0.1em solid #ccc;
  overflow: hidden;
  padding: 1em 0;
  font-size: 0.5em;
  color: #808080;
}

.footer-modification {
  float: right;
}
.book .book-summary .chapter > .articles {
	overflow: hidden;
	max-height: 0px;
}

.book .book-summary .chapter.expanded > .articles {
	max-height: 9999px;
}

.book .book-summary .exc-trigger {
	position: absolute;
  	left: 12px;
  	top: 12px;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
	padding-left: 30px;
}

.book .book-summary .exc-trigger:before {
  	content: "\f105";
}

.book .book-summary .expanded > a .exc-trigger:before,
.book .book-summary .expanded > span .exc-trigger:before {
	content: "\f107";
}

#book-search-input {
  background: inherit;
}
#book-search-results .search-results {
  display: none;
}
#book-search-results .search-results ul.search-results-list {
  list-style-type: none;
  padding-left: 0;
}
#book-search-results .search-results ul.search-results-list li {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  /* Highlight results */
}
#book-search-results .search-results ul.search-results-list li p em {
  background-color: rgba(255, 220, 0, 0.4);
  font-style: normal;
}
#book-search-results .search-results .no-results {
  display: none;
}
#book-search-results.open .search-results {
  display: block;
}
#book-search-results.open .search-noresults {
  display: none;
}
#book-search-results.no-results .search-results .has-results {
  display: none;
}
#book-search-results.no-results .search-results .no-results {
  display: block;
}
#book-search-results span.search-highlight-keyword {
  background: #ff0;
}
#book-search-results.search-plus .search-results .has-results .search-results-item {
  color: inherit;
}